# Data Manipulation - Pandas and Numpy
### Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12])

In [3]:
numeros.index

RangeIndex(start=0, stop=12, step=1)

In [4]:
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

In [5]:
meses_rs = pd.Series(np.arange(1, 13), index=meses)

In [6]:
meses_rs

Janeiro       1
Fevereiro     2
Março         3
Abril         4
Maio          5
Junho         6
Julho         7
Agosto        8
Setembro      9
Outubro      10
Novembro     11
Dezembro     12
dtype: int64

In [7]:
meses_rs.index

Index(['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho',
       'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      dtype='object')

In [8]:
new_meses = pd.Series([meses[x] for x in range(len(meses))], index=np.arange(1, 13))

In [9]:
new_meses

1       Janeiro
2     Fevereiro
3         Março
4         Abril
5          Maio
6         Junho
7         Julho
8        Agosto
9      Setembro
10      Outubro
11     Novembro
12     Dezembro
dtype: object

In [10]:
world_cup = {'Brasil': 5, 'Alemanha': 4, 'Itália': 4, 'Argentina': 2, 'Uruguai': 2, 'Inglaterra': 1, 'Franca': 1}

In [11]:
world_cup

{'Brasil': 5,
 'Alemanha': 4,
 'Itália': 4,
 'Argentina': 2,
 'Uruguai': 2,
 'Inglaterra': 1,
 'Franca': 1}

In [12]:
pd.Series(world_cup)

Brasil        5
Alemanha      4
Itália        4
Argentina     2
Uruguai       2
Inglaterra    1
Franca        1
dtype: int64

In [13]:
world_cup_sr = pd.Series(
    world_cup,
    index = ['Brasil', 'Alemanha', 'Itália', 'Argentina', 'Inglaterra', 'Espanha'],
    name = 'wcSeries')

In [14]:
world_cup_sr

Brasil        5.0
Alemanha      4.0
Itália        4.0
Argentina     2.0
Inglaterra    1.0
Espanha       NaN
Name: wcSeries, dtype: float64

In [15]:
world_cup_sr.Espanha = '1'

In [16]:
world_cup_sr

Brasil        5.0
Alemanha      4.0
Itália        4.0
Argentina     2.0
Inglaterra    1.0
Espanha       1.0
Name: wcSeries, dtype: float64

In [17]:
world_cup_sr['Paraguai'] = 0

In [18]:
world_cup_sr

Brasil        5.0
Alemanha      4.0
Itália        4.0
Argentina     2.0
Inglaterra    1.0
Espanha       1.0
Paraguai      0.0
Name: wcSeries, dtype: float64

In [19]:
path = 'data/Alunos.xlsx'

In [20]:
xls = pd.ExcelFile('dataset/Alunos.xlsx')

In [21]:
xls.sheet_names

['Alunos', 'Notas', 'Trimestre']

In [22]:
alunos = xls.parse('Alunos')
notas = xls.parse('Notas')
trimestre = xls.parse('Trimestre')
alunos.head()

   Alunos
0     Ana
1   Clara
2   Célia
3    João
4  Carlos

In [23]:
notas.head()

   Alunos  Notas
0     Ana    5.7
1   Clara    9.9
2   Célia    8.0
3    João    9.9
4  Carlos    7.0

In [24]:
trimestre.head()

   Alunos  Sobrenome  Mês 01  Mês 02  Mês 03
0     Ana     Santos     5.7     6.8     4.6
1   Clara      Mafra     9.9     7.0     9.0
2   Célia    Tavares     8.0     8.0     9.0
3    João      Nunes     9.9     9.0     8.0
4  Carlos  Guilherme     7.0     7.5     6.0

In [25]:
alunos.Alunos

0        Ana
1      Clara
2      Célia
3       João
4     Carlos
5      Jorge
6     Lilian
7    Antônio
Name: Alunos, dtype: object

In [26]:
trimestre['Mês 01'][0]

5.7

In [27]:
trimestre.index

RangeIndex(start=0, stop=8, step=1)

In [28]:
trimestre.columns

Index(['Alunos', 'Sobrenome', 'Mês 01', 'Mês 02', 'Mês 03'], dtype='object')

In [29]:
'joão' + ' ' + 'Numes'

'joão Numes'

In [30]:
trimestre['Nome Completo'] = trimestre.Alunos + ' ' + trimestre.Sobrenome

In [31]:
trimestre

    Alunos  Sobrenome  Mês 01  Mês 02  Mês 03     Nome Completo
0      Ana     Santos     5.7     6.8     4.6        Ana Santos
1    Clara      Mafra     9.9     7.0     9.0       Clara Mafra
2    Célia    Tavares     8.0     8.0     9.0     Célia Tavares
3     João      Nunes     9.9     9.0     8.0        João Nunes
4   Carlos  Guilherme     7.0     7.5     6.0  Carlos Guilherme
5    Jorge      Silva     6.8     7.0     5.0       Jorge Silva
6   Lilian     Vianna     7.8     8.0     8.5     Lilian Vianna
7  Antônio      Costa     7.0     6.5     6.0     Antônio Costa

In [32]:
diarias = pd.read_csv('dataset/Diarias.csv', sep='\t', encoding='latin')

In [33]:
diarias.describe(include=['object'])

,Nome Órgão Superior,Nome Órgão Subordinado,Nome Unidade Gestora,Nome Função,Nome Subunção,Nome Programa,Código Ação,Nome Ação,Linguagem Cidadã,CPF Favorecido,Nome Favorecido,Documento Pagamento,Data Pagamento,Valor Pagamento
count,38745,38745,38745,38745,38745,38745,38745,38745,11831,38745,38745,38745,38745,38745
unique,22,224,1454,25,69,76,308,308,26,22994,26160,3034,18,6969
top,MINISTERIO DA EDUCACAO,INSTITUTO NACIONAL DO SEGURO SOCIAL,DIVISAO DE DIARIAS E PASSAGENS DA AGU,Educação,Administração Geral,Educação de qualidade para todos,2000,Administração da Unidade,Administração de unidade,***.018.44*-**,SILVIA OLINDA BIAGI FERRARI,2017OB800072,16/02/2017,"67,68"
freq,10048,3763,663,10045,7900,9511,6668,6668,6668,39,38,147,3946,5005

In [34]:
type(diarias)

pandas.core.frame.DataFrame

In [35]:
diarias.shape

(38745, 21)

In [36]:
diarias.dtypes

Código Órgão Superior        int64
Nome Órgão Superior         object
Código Órgão Subordinado     int64
Nome Órgão Subordinado      object
Código Unidade Gestora       int64
Nome Unidade Gestora        object
Código Função                int64
Nome Função                 object
Código Subfunção             int64
Nome Subunção               object
Código Programa              int64
Nome Programa               object
Código Ação                 object
Nome Ação                   object
Linguagem Cidadã            object
CPF Favorecido              object
Nome Favorecido             object
Documento Pagamento         object
Gestão Pagamento             int64
Data Pagamento              object
Valor Pagamento             object
dtype: object

In [37]:
filmes = pd.read_csv('dataset/movies.csv')

In [38]:
filmes.head()

,star rating,title,content rating,genre,duration,actors list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [39]:
filmes.describe()

       star rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [40]:
filmes.shape

(979, 6)

In [41]:
filmes.dtypes

star rating       float64
title              object
content rating     object
genre              object
duration            int64
actors list        object
dtype: object

In [42]:
filmes.describe(include=[object])

,title,content rating,genre,actors list
count,979,976,979,979
unique,975,12,16,969
top,Les Miserables,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [43]:
filmes.describe()

       star rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [44]:
filmes.columns

Index(['star rating', 'title', 'content rating', 'genre', 'duration',
       'actors list'],
      dtype='object')

In [45]:
filmes.columns = 'start_rating', 'title', 'content_rating', 'genre', 'duration', 'actor_list'

In [46]:
filmes.columns

Index(['start_rating', 'title', 'content_rating', 'genre', 'duration',
       'actor_list'],
      dtype='object')

In [47]:
filmes.columns = filmes.columns.str.replace('_', ' ')

In [48]:
filmes.columns

Index(['start rating', 'title', 'content rating', 'genre', 'duration',
       'actor list'],
      dtype='object')

In [49]:
filmes.columns = filmes.columns.str.replace(' ', '_')

In [50]:
filmes.columns

Index(['start_rating', 'title', 'content_rating', 'genre', 'duration',
       'actor_list'],
      dtype='object')

In [51]:
filmes01 = filmes.drop('title', axis=1)

In [52]:
filmes01.head()

,start_rating,content_rating,genre,duration,actor_list
0,9.3,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [53]:
filmes01 = filmes.drop(['start_rating', 'content_rating'], axis=1)

In [54]:
filmes01.head()

,title,genre,duration,actor_list
0,The Shawshank Redemption,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,The Godfather,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,The Godfather: Part II,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,The Dark Knight,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,Pulp Fiction,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [55]:
filmes.sort_values('start_rating', ascending=False).head()

,start_rating,title,content_rating,genre,duration,actor_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [56]:
filmes.sort_values('duration', ascending=False).head()

,start_rating,title,content_rating,genre,duration,actor_list
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."

In [57]:
film_180 = filmes.duration >= 180

In [58]:
filmes[film_180].head()

,start_rating,title,content_rating,genre,duration,actor_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."

In [59]:
filmes[filmes.duration >= 200]['genre']

2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object

In [60]:
filmes.loc[filmes.duration >= 200, 'genre']

2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object

In [61]:
for item in filmes.title:
    print(item)

The Shawshank Redemption
The Godfather
The Godfather: Part II
The Dark Knight
Pulp Fiction
12 Angry Men
The Good, the Bad and the Ugly
The Lord of the Rings: The Return of the King
Schindler's List
Fight Club
The Lord of the Rings: The Fellowship of the Ring
Inception
Star Wars: Episode V - The Empire Strikes Back
Forrest Gump
The Lord of the Rings: The Two Towers
Interstellar
One Flew Over the Cuckoo's Nest
Seven Samurai
Goodfellas
Star Wars
The Matrix
City of God
It's a Wonderful Life
The Usual Suspects
Se7en
Life Is Beautiful
Once Upon a Time in the West
The Silence of the Lambs
Leon: The Professional
City Lights
Spirited Away
The Intouchables
Casablanca
Whiplash
American History X
Modern Times
Saving Private Ryan
Raiders of the Lost Ark
Rear Window
Psycho
The Green Mile
Sunset Blvd.
The Pianist
The Dark Knight Rises
Gladiator
Terminator 2: Judgment Day
Memento
Taare Zameen Par
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
The Departed
Cinema Paradiso
Apocalypse Now
The Great Dictator
The Prestige
Back to the Future
The Lion King
The Lives of Others
Alien
Paths of Glory
Django Unchained
3 Idiots
Grave of the Fireflies
The Shining
M
WALL-E
Witness for the Prosecution
Munna Bhai M.B.B.S.
American Beauty
Das Boot
Princess Mononoke
Amelie
North by Northwest
Rang De Basanti
Jodaeiye Nader az Simin
Citizen Kane
Aliens
Vertigo
Oldeuboi
Once Upon a Time in America
Double Indemnity
Star Wars: Episode VI - Return of the Jedi
Toy Story 3
Braveheart
To Kill a Mockingbird
Requiem for a Dream
Lawrence of Arabia
A Clockwork Orange
Bicycle Thieves
The Kid
Swades
Reservoir Dogs
Eternal Sunshine of the Spotless Mind
Taxi Driver
Dilwale Dulhania Le Jayenge
Singin' in the Rain
All About Eve
Yojimbo
The Sting
Rashomon
Amadeus
The Treasure of the Sierra Madre
Monty Python and the Holy Grail
Full Metal Jacket
The Apartment
Ikiru
The Third Man
Snatch.
For a Few Dollars More
Metropolis
Dil Chahta Hai
2001: A Space Odyssey
Some Like It Hot
L.A. Confidential
Batman Begins
Inglourious Basterds
Scarface
Mr. Smith Goes to Washington
Toy Story
Indiana Jones and the Last Crusade
Unforgiven
The Great Escape
Jagten
On the Waterfront
The General
Raging Bull
Downfall
Up
Wild Strawberries
The Gold Rush
Ran
Chinatown
My Neighbor Totoro
Judgment at Nuremberg
Barfi!
The Seventh Seal
Heat
Pan's Labyrinth
The Bridge on the River Kwai
Die Hard
Good Will Hunting
The Wages of Fear
The Secret in Their Eyes
Lagaan: Once Upon a Time in India
The Wolf of Wall Street
It Happened One Night
Blade Runner
Warrior
Howl's Moving Castle
The Elephant Man
Rebecca
Incendies
Lock, Stock and Two Smoking Barrels
V for Vendetta
The Big Lebowski
Cool Hand Luke
Relatos salvajes
Casino
Gone with the Wind
Gone Girl
The Best Years of Our Lives
How to Train Your Dragon
Diabolique
Gran Torino
Rush
Into the Wild
My Sassy Girl
The Deer Hunter
Mary and Max
Hachi: A Dog's Tale
The Maltese Falcon
A Beautiful Mind
Dial M for Murder
Trainspotting
Tae Guk Gi: The Brotherhood of War
Persona
Touch of Evil
Fargo
The Avengers
The 400 Blows
The Princess Bride
Hotel Rwanda
Stalker
The Battle of Algiers
Underground
Fanny and Alexander
Network
The Thing
Butch Cassidy and the Sundance Kid
The Grapes of Wrath
Black Cat, White Cat
Life of Brian
The Sixth Sense
Finding Nemo
Nausicaa of the Valley of the Wind
Kingsman: The Secret Service
Platoon
Guardians of the Galaxy
In the Name of the Father
Kill Bill: Vol. 1
No Country for Old Men
Le Samourai
12 Years a Slave
La leggenda del pianista sull'oceano
8 1/2
Ben-Hur
Amores Perros
Stand by Me
What Ever Happened to Baby Jane?
Annie Hall
The Imitation Game
Laura
Departures
Infernal Affairs
There Will Be Blood
The Grand Budapest Hotel
La Strada
Sin City
Memories of Murder
Donnie Darko
Who's Afraid of Virginia Woolf?
Gandhi
Solaris
Harry Potter and the Deathly Hallows: Part 2
Paris, Texas
The Wizard of Oz
3-Iron
Boyhood
Million Dollar Baby
The Last Picture Show
Strangers on a Train
Cat on a Hot Tin Roof
La Dolce Vita
Chungking Express
The Night of the Hunter
La Haine
Yip Man
High Noon
Notorious
Before Sunrise
Elite Squad: The Enemy Within
The Bourne Ultimatum
Castle in the Sky
The Celebration
Spring, Summer, Fall, Winter... and Spring
Shutter Island
Barry Lyndon
Stalag 17
Three Colors: Red
X-Men: Days of Future Past
Sleuth
In the Mood for Love
The Man Who Shot Liberty Valance
Arsenic and Old Lace
The Big Sleep
Roman Holiday
The Philadelphia Story
Akira
Anatomy of a Murder
The Cabinet of Dr. Caligari
The Help
The Sea Inside
Elite Squad
The Hustler
Rio Bravo
Twelve Monkeys
Harvey
A Christmas Story
Jaws
The Raid 2
Rocky
Wings of Desire
Pirates of the Caribbean: The Curse of the Black Pearl
The Killing
Papillon
The King's Speech
Groundhog Day
A Fistful of Dollars
Monsters, Inc.
Dog Day Afternoon
The Perks of Being a Wallflower
Young Frankenstein
The Terminator
Harold and Maude
Before Sunset
A Streetcar Named Desire
Bringing Up Baby
The Diving Bell and the Butterfly
His Girl Friday
Sling Blade
All Quiet on the Western Front
Prisoners
The Return
The Manchurian Candidate
Duck Soup
Beauty and the Beast
The Truman Show
The Wild Bunch
Rope
The Graduate
Jurassic Park
Dogville
Furious 7
Patton
The Nightmare Before Christmas
Being There
Persepolis
This Is Spinal Tap
East of Eden
Pink Floyd The Wall
Blood Diamond
Big Fish
Slumdog Millionaire
Star Trek
The Straight Story
Crimes and Misdemeanors
Charade
JFK
Dawn of the Dead
Magnolia
Manhattan
Central Station
Brazil
The Exorcist
Her
Dancer in the Dark
Rain Man
Talk to Her
The Adventures of Robin Hood
Aguirre, the Wrath of God
In the Heat of the Night
Nosferatu
Black Swan
Ratatouille
The Searchers
Short Term 12
Doctor Zhivago
Life of Pi
All the President's Men
Battleship Potemkin
Dances with Wolves
Catch Me If You Can
Cinderella Man
Dead Poets Society
Ghost in the Shell
Head-On
No Man's Land
Dallas Buyers Club
Days of Heaven
The Sound of Music
District 9
Shadow of a Doubt
Frankenstein
Shaun of the Dead
Night of the Living Dead
Kill Bill: Vol. 2
Secrets & Lies
The Artist
Aladdin
The Lady Vanishes
The Hobbit: The Desolation of Smaug
Let the Right One In
Fiddler on the Roof
The Hobbit: An Unexpected Journey
Three Colors: Blue
Rosemary's Baby
Mystic River
Serenity
Amarcord
Planet of the Apes
True Romance
Hannah and Her Sisters
Moon
Before Midnight
My Name Is Khan
Scent of a Woman
Mulholland Dr.
King Kong
The Fault in Our Stars
The Incredibles
Edward Scissorhands
Casino Royale
How to Train Your Dragon 2
In Bruges
The Untouchables
Breathless
Spartacus
The Iron Giant
Midnight Cowboy
The Blues Brothers
Freaks
Letters from Iwo Jima
Edge of Tomorrow
Glory
The African Queen
Birdman: Or (The Unexpected Virtue of Ignorance)
Big Hero 6
Almost Famous
The Notebook
The Conversation
The Breakfast Club
The Pursuit of Happyness
The Killer
Once
Ying xiong
The Remains of the Day
The Bride of Frankenstein
The Wrestler
Nightcrawler
Gravity
Hard Boiled
Bonnie and Clyde
The Bourne Identity
Key Largo
Nine Queens
Toy Story 2
The Killing Fields
All About My Mother
Cowboy Bebop: The Movie
Ed Wood
Stagecoach
The Man Who Would Be King
The Outlaw Josey Wales
Children of Men
The Insider
The Right Stuff
Badlands
A Prophet
4 Months, 3 Weeks and 2 Days
Le passe
The Fall
Breaking the Waves
Mr. Nobody
Crash
Avatar
Iron Man
Do the Right Thing
Carlito's Way
Crouching Tiger, Hidden Dragon
Lilya 4-Ever
The Chorus
The Boondock Saints
Miller's Crossing
Walk the Line
Shrek
My Fair Lady
The Ten Commandments
The Fighter
Captain Phillips
Cabaret
Halloween
My Left Foot
Miracle on 34th Street
The Man from Nowhere
Toki o kakeru shojo
Little Miss Sunshine
Taken
Blue Is the Warmest Color
Boogie Nights
Hot Fuzz
Ferris Bueller's Day Off
The World's Fastest Indian
Kiki's Delivery Service
Down by Law
Glengarry Glen Ross
Clerks
Adam's Apples
The Girl with the Dragon Tattoo
The 39 Steps
E.T. the Extra-Terrestrial
Tombstone
Predator
Tangled
Guess Who's Coming to Dinner
Ordinary People
The Best Offer
Silver Linings Playbook
Hamlet
Amour
I Saw the Devil
The Motorcycle Diaries
Office Space
Evil
The Girl with the Dragon Tattoo
Withnail & I
The Day the Earth Stood Still
Black Book
Evil Dead II
Kaze tachinu
Star Trek Into Darkness
The Triplets of Belleville
Open Your Eyes
The Magnificent Seven
Drive
Mississippi Burning
The Lego Movie
The Day of the Jackal
Misery
Willy Wonka & the Chocolate Factory
Fantasia
Gattaca
American Gangster
Porco Rosso
The French Connection
The Boy in the Striped Pajamas
Empire of the Sun
About Time
Blue Velvet
In America
The Curious Case of Benjamin Button
The Last of the Mohicans
Moonrise Kingdom
Rebel Without a Cause
Fantastic Mr. Fox
Invasion of the Body Snatchers
October Sky
Dirty Harry
Ghostbusters
Captain America: The Winter Soldier
Wreck-It Ralph
The Hangover
Back to the Future Part II
Belle de Jour
O Brother, Where Art Thou?
Repulsion
Airplane!
Pride & Prejudice
Zulu
Night on Earth
From Here to Eternity
Apocalypto
Atonement
The Dirty Dozen
X-Men: First Class
Run Lola Run
The Longest Day
Zelig
The Last Emperor
The Goonies
The White Ribbon
The Fugitive
The Color Purple
South Park: Bigger Longer & Uncut
(500) Days of Summer
Lost in Translation
Argo
Blazing Saddles
Breakfast at Tiffany's
Finding Neverland
The Experiment
Lucky Number Slevin
The Theory of Everything
Harry Potter and the Prisoner of Azkaban
Kung Fu Hustle
Being John Malkovich
The Social Network
3:10 to Yuma
The Name of the Rose
Mary Poppins
The Game
Changeling
Donnie Brasco
Serpico
What's Eating Gilbert Grape
Goldfinger
Nebraska
The Sandlot
Boyz n the Hood
The Bourne Supremacy
Skyfall
Ray
300
A Bronx Tale
The Birds
Battle Royale
Control
Kramer vs. Kramer
Deliverance
Ocean's Eleven
As Good as It Gets
Awakenings
The King of Comedy
Man on Fire
Sabrina
Dark City
Good Bye Lenin!
Remember the Titans
Star Trek II: The Wrath of Khan
Road to Perdition
Rushmore
The Machinist
Flipped
The Count of Monte Cristo
Detachment
Love Me If You Dare
Dead Man
The Purple Rose of Cairo
21 Grams
50/50
Kick-Ass
Delicatessen
Barton Fink
The Last King of Scotland
Adaptation.
A Very Long Engagement
Mysterious Skin
Stardust
Black Hawk Down
Paprika
Fear and Loathing in Las Vegas
Frost/Nixon
Enter the Dragon
Short Cuts
A Hard Day's Night
The Last Samurai
The Station Agent
Zombieland
Sympathy for Mr. Vengeance
Despicable Me
Shane
Forbidden Planet
Titanic
Gone Baby Gone
The Dinner Game
Dawn of the Planet of the Apes
25th Hour
Ponyo
Shine
The Blind Side
Brokeback Mountain
Cast Away
Malcolm X
Show Me Love
Boy A
The Warriors
Close Encounters of the Third Kind
Match Point
Training Day
The Butterfly Effect
The City of Lost Children
Billy Elliot
Love Actually
The Producers
Harry Potter and the Deathly Hallows: Part 1
The Visitor
Philadelphia
Sense and Sensibility
Three Colors: White
La grande bellezza
Primal Fear
Where Eagles Dare
Dazed and Confused
Blood Simple.
This Is England
Fearless
Dangerous Liaisons
Saw
Snow White and the Seven Dwarfs
Coraline
The Hunger Games: Catching Fire
Sophie's Choice
La Vie en Rose
Star Wars: Episode III - Revenge of the Sith
True Grit
After Hours
Frozen
Lolita
Eastern Promises
Midnight in Paris
The Muppet Christmas Carol
Who Framed Roger Rabbit
Sympathy for Lady Vengeance
Grindhouse
In a Better World
Blow-Up
The Secret World of Arrietty
Kiss Kiss Bang Bang
Lost Highway
Zodiac
Les Miserables
Moulin Rouge!
Whale Rider
End of Watch
Philomena
Fury
The Big Blue
First Blood
Minority Report
Spellbound
The Wicker Man
Seven Pounds
Midnight Express
Kelly's Heroes
MASH
The Player
Traffic
Y Tu Mama Tambien
Stranger Than Fiction
Inside Man
127 Hours
The Fifth Element
Milk
United 93
Jin ling shi san chai
Dracula
High Plains Drifter
I Am Sam
Fried Green Tomatoes
Watchmen
28 Days Later...
The Illusionist
Superbad
The Godfather: Part III
The Royal Tenenbaums
The Jungle Book
Thank You for Smoking
Man Bites Dog
A Few Good Men
The Legend of Drunken Master
The Kite Runner
When Harry Met Sally...
Munich
House of Sand and Fog
Lethal Weapon
Animal House
Lord of War
Blow
Sherlock Holmes
Harry Potter and the Goblet of Fire
La piel que habito
The Crow
West Side Story
The Thin Red Line
American Psycho
The Blind Swordsman: Zatoichi
The Last Temptation of Christ
The Naked Gun: From the Files of Police Squad!
The Others
The Party
Army of Darkness
The Hurt Locker
The Raid: Redemption
Volver
Following
Kung Fu Panda
Mad Max 2: The Road Warrior
Jusan-nin no shikaku
The Man Who Wasn't There
The Counterfeiters
The Hunt for Red October
Lone Survivor
A Fish Called Wanda
The Impossible
Garden State
Escape from Alcatraz
Apollo 13
Lust, Caution
Selma
Funny Games
The Abyss
Robin Hood
Enemy at the Gates
Falling Down
Little Children
Hunger
Indiana Jones and the Temple of Doom
Ip Man 2
The Little Mermaid
It's a Mad, Mad, Mad, Mad World
The Reader
The Omen
A Royal Affair
Braindead
Secondhand Lions
Disconnect
A Single Man
Hoosiers
Moneyball
The Book Thief
Die Hard: With a Vengeance
Interview with the Vampire: The Vampire Chronicles
Midnight Run
An American Werewolf in London
The Great Debaters
Tucker and Dale vs. Evil
Dead Man Walking
The Piano
The Town
Rise of the Planet of the Apes
Boys Don't Cry
Ice Age
Of Mice and Men
Sideways
High Fidelity
The Meaning of Life
Hugo
Leaving Las Vegas
The Evil Dead
Collateral
Planes, Trains & Automobiles
Hodejegerne
Field of Dreams
Batman
Tell No One
Ghost Dog: The Way of the Samurai
Chaplin
Keith
Juno
The Assassination of Jesse James by the Coward Robert Ford
The Fisher King
House of Flying Daggers
The Hours
The Damned United
Star Trek: First Contact
The Natural
The Hobbit: The Battle of the Five Armies
Equilibrium
August Rush
Saving Mr. Banks
The Hurricane
Jacob's Ladder
The Curse of the Were-Rabbit
Christmas Vacation
Good Night, and Good Luck.
Straw Dogs
42
Rudy
Sleepers
The Wind That Shakes the Barley
Gangs of New York
Elizabeth
Green Street Hooligans
Reign Over Me
RoboCop
The Life of David Gale
Life as a House
Despicable Me 2
Jackie Brown
Menace II Society
The Class
Bullets Over Broadway
American Splendor
Perfume: The Story of a Murderer
Cloud Atlas
Marathon Man
Pinocchio
The Painted Veil
A Simple Plan
The Conjuring
The Man Who Knew Too Much
Quiz Show
American Graffiti
The Bridges of Madison County
Gallipoli
L'illusionniste
Miracle
Maria Full of Grace
Scott Pilgrim vs. the World
Pleasantville
Sherlock Holmes: A Game of Shadows
Doubt
The Fly
The Orphanage
Malena
Three Days of the Condor
[Rec]
A Perfect World
To Catch a Thief
Best in Show
Everything Is Illuminated
A Nightmare on Elm Street
The Ice Storm
X2
We Need to Talk About Kevin
Felon
Still Alice
Rust and Bone
Freedom Writers
Legends of the Fall
Buffalo '66
The Constant Gardener
My Cousin Vinny
The Texas Chain Saw Massacre
Mulan
A History of Violence
Open Range
Total Recall
Pi
The Devil's Backbone
The Aviator
Devil's Advocate
The Adventures of Priscilla, Queen of the Desert
Harry Potter and the Half-Blood Prince
Fruitvale Station
In the Bedroom
Source Code
Biutiful
From Russia with Love
Calvary
The Mission
In the Loop
The Three Burials of Melquiades Estrada
Babel
Frenzy
Heavenly Creatures
Sweeney Todd: The Demon Barber of Fleet Street
Dracula
Looper
The Proposition
Bullitt
Harry Potter and the Sorcerer's Stone
2046
Transamerica
Smoke
Suspiria
The Judge
Bad Education
Up in the Air
Begin Again
Running Scared
Ghost World
Witness
Trading Places
Mud
Across the Universe
Les Miserables
Notes on a Scandal
Inside Llewyn Davis
Brick
Clerks II
Say Anything...
Man on the Moon
Mean Streets
Harry Potter and the Order of the Phoenix
Beetlejuice
Crazy, Stupid, Love.
Excalibur
True Grit
Labyrinth
Alice in Wonderland
Predestination
Much Ado About Nothing
A Bridge Too Far
Raising Arizona
The Bucket List
Terms of Endearment
Take Shelter
Far from Heaven
Eraserhead
Frances Ha
Home Alone
Bound
Sleepy Hollow
Pirate Radio
The NeverEnding Story
X-Men
Zero Dark Thirty
Manhattan Murder Mystery
National Lampoon's Vacation
My Sister's Keeper
Deconstructing Harry
The Way Way Back
Capote
Driving Miss Daisy
La Femme Nikita
Lincoln
Limitless
The Simpsons Movie
The Rock
The English Patient
Law Abiding Citizen
Wonder Boys
Death at a Funeral
Blue Valentine
The Cider House Rules
Tootsie
Back to the Future Part III
Master and Commander: The Far Side of the World
Poltergeist
Wall Street

In [62]:
filmes.title

0                               The Shawshank Redemption
1                                          The Godfather
2                                 The Godfather: Part II
3                                        The Dark Knight
4                                           Pulp Fiction
5                                           12 Angry Men
6                         The Good, the Bad and the Ugly
7          The Lord of the Rings: The Return of the King
8                                       Schindler's List
9                                             Fight Club
10     The Lord of the Rings: The Fellowship of the Ring
11                                             Inception
12        Star Wars: Episode V - The Empire Strikes Back
13                                          Forrest Gump
14                 The Lord of the Rings: The Two Towers
15                                          Interstellar
16                       One Flew Over the Cuckoo's Nest
17                                         Seven Samurai
18                                            Goodfellas
19                                             Star Wars
20                                            The Matrix
21                                           City of God
22                                 It's a Wonderful Life
23                                    The Usual Suspects
24                                                 Se7en
25                                     Life Is Beautiful
26                          Once Upon a Time in the West
27                              The Silence of the Lambs
28                                Leon: The Professional
29                                           City Lights
                             ...
949                                           Home Alone
950                                                Bound
951                                        Sleepy Hollow
952                                         Pirate Radio
953                                The NeverEnding Story
954                                                X-Men
955                                     Zero Dark Thirty
956                             Manhattan Murder Mystery
957                          National Lampoon's Vacation
958                                   My Sister's Keeper
959                                 Deconstructing Harry
960                                     The Way Way Back
961                                               Capote
962                                   Driving Miss Daisy
963                                      La Femme Nikita
964                                              Lincoln
965                                            Limitless
966                                   The Simpsons Movie
967                                             The Rock
968                                  The English Patient
969                                  Law Abiding Citizen
970                                          Wonder Boys
971                                   Death at a Funeral
972                                       Blue Valentine
973                                The Cider House Rules
974                                              Tootsie
975                          Back to the Future Part III
976      Master and Commander: The Far Side of the World
977                                          Poltergeist
978                                          Wall Street
Name: title, Length: 979, dtype: object

In [63]:
for indice, linha in filmes.iterrows():
    print(indice, linha.title, " - ", linha.genre, " - ", linha.start_rating)

0 The Shawshank Redemption  -  Crime  -  9.3
1 The Godfather  -  Crime  -  9.2
2 The Godfather: Part II  -  Crime  -  9.1
3 The Dark Knight  -  Action  -  9.0
4 Pulp Fiction  -  Crime  -  8.9
5 12 Angry Men  -  Drama  -  8.9
6 The Good, the Bad and the Ugly  -  Western  -  8.9
7 The Lord of the Rings: The Return of the King  -  Adventure  -  8.9
8 Schindler's List  -  Biography  -  8.9
9 Fight Club  -  Drama  -  8.9
10 The Lord of the Rings: The Fellowship of the Ring  -  Adventure  -  8.8
11 Inception  -  Action  -  8.8
12 Star Wars: Episode V - The Empire Strikes Back  -  Action  -  8.8
13 Forrest Gump  -  Drama  -  8.8
14 The Lord of the Rings: The Two Towers  -  Adventure  -  8.8
15 Interstellar  -  Adventure  -  8.7
16 One Flew Over the Cuckoo's Nest  -  Drama  -  8.7
17 Seven Samurai  -  Drama  -  8.7
18 Goodfellas  -  Biography  -  8.7
19 Star Wars  -  Action  -  8.7
20 The Matrix  -  Action  -  8.7
21 City of God  -  Crime  -  8.7
22 It's a Wonderful Life  -  Drama  -  8.7
23 The Usual Suspects  -  Crime  -  8.7
24 Se7en  -  Drama  -  8.7
25 Life Is Beautiful  -  Comedy  -  8.6
26 Once Upon a Time in the West  -  Western  -  8.6
27 The Silence of the Lambs  -  Drama  -  8.6
28 Leon: The Professional  -  Crime  -  8.6
29 City Lights  -  Comedy  -  8.6
30 Spirited Away  -  Animation  -  8.6
31 The Intouchables  -  Biography  -  8.6
32 Casablanca  -  Drama  -  8.6
33 Whiplash  -  Drama  -  8.6
34 American History X  -  Crime  -  8.6
35 Modern Times  -  Comedy  -  8.6
36 Saving Private Ryan  -  Action  -  8.6
37 Raiders of the Lost Ark  -  Action  -  8.6
38 Rear Window  -  Mystery  -  8.6
39 Psycho  -  Horror  -  8.6
40 The Green Mile  -  Crime  -  8.5
41 Sunset Blvd.  -  Drama  -  8.5
42 The Pianist  -  Biography  -  8.5
43 The Dark Knight Rises  -  Action  -  8.5
44 Gladiator  -  Action  -  8.5
45 Terminator 2: Judgment Day  -  Action  -  8.5
46 Memento  -  Mystery  -  8.5
47 Taare Zameen Par  -  Drama  -  8.5
48 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb  -  Comedy  -  8.5
49 The Departed  -  Crime  -  8.5
50 Cinema Paradiso  -  Drama  -  8.5
51 Apocalypse Now  -  Drama  -  8.5
52 The Great Dictator  -  Comedy  -  8.5
53 The Prestige  -  Drama  -  8.5
54 Back to the Future  -  Adventure  -  8.5
55 The Lion King  -  Animation  -  8.5
56 The Lives of Others  -  Drama  -  8.5
57 Alien  -  Horror  -  8.5
58 Paths of Glory  -  Drama  -  8.5
59 Django Unchained  -  Western  -  8.5
60 3 Idiots  -  Comedy  -  8.5
61 Grave of the Fireflies  -  Animation  -  8.5
62 The Shining  -  Horror  -  8.5
63 M  -  Crime  -  8.4
64 WALL-E  -  Animation  -  8.4
65 Witness for the Prosecution  -  Crime  -  8.4
66 Munna Bhai M.B.B.S.  -  Comedy  -  8.4
67 American Beauty  -  Drama  -  8.4
68 Das Boot  -  Adventure  -  8.4
69 Princess Mononoke  -  Animation  -  8.4
70 Amelie  -  Comedy  -  8.4
71 North by Northwest  -  Adventure  -  8.4
72 Rang De Basanti  -  Drama  -  8.4
73 Jodaeiye Nader az Simin  -  Drama  -  8.4
74 Citizen Kane  -  Drama  -  8.4
75 Aliens  -  Action  -  8.4
76 Vertigo  -  Mystery  -  8.4
77 Oldeuboi  -  Drama  -  8.4
78 Once Upon a Time in America  -  Crime  -  8.4
79 Double Indemnity  -  Crime  -  8.4
80 Star Wars: Episode VI - Return of the Jedi  -  Action  -  8.4
81 Toy Story 3  -  Animation  -  8.4
82 Braveheart  -  Action  -  8.4
83 To Kill a Mockingbird  -  Drama  -  8.4
84 Requiem for a Dream  -  Drama  -  8.4
85 Lawrence of Arabia  -  Adventure  -  8.4
86 A Clockwork Orange  -  Crime  -  8.4
87 Bicycle Thieves  -  Drama  -  8.4
88 The Kid  -  Comedy  -  8.4
89 Swades  -  Drama  -  8.4
90 Reservoir Dogs  -  Crime  -  8.4
91 Eternal Sunshine of the Spotless Mind  -  Drama  -  8.4
92 Taxi Driver  -  Crime  -  8.4
93 Dilwale Dulhania Le Jayenge  -  Comedy  -  8.4
94 Singin' in the Rain  -  Comedy  -  8.4
95 All About Eve  -  Drama  -  8.4
96 Yojimbo  -  Action  -  8.4
97 The Sting  -  Comedy  -  8.4
98 Rashomon  -  Crime  -  8.4
99 Amadeus  -  Biography  -  8.4
100 The Treasure of the Sierra Madre  -  Action  -  8.3
101 Monty Python and the Holy Grail  -  Adventure  -  8.3
102 Full Metal Jacket  -  Drama  -  8.3
103 The Apartment  -  Comedy  -  8.3
104 Ikiru  -  Drama  -  8.3
105 The Third Man  -  Film-Noir  -  8.3
106 Snatch.  -  Comedy  -  8.3
107 For a Few Dollars More  -  Western  -  8.3
108 Metropolis  -  Drama  -  8.3
109 Dil Chahta Hai  -  Comedy  -  8.3
110 2001: A Space Odyssey  -  Mystery  -  8.3
111 Some Like It Hot  -  Comedy  -  8.3
112 L.A. Confidential  -  Crime  -  8.3
113 Batman Begins  -  Action  -  8.3
114 Inglourious Basterds  -  Adventure  -  8.3
115 Scarface  -  Crime  -  8.3
116 Mr. Smith Goes to Washington  -  Drama  -  8.3
117 Toy Story  -  Animation  -  8.3
118 Indiana Jones and the Last Crusade  -  Action  -  8.3
119 Unforgiven  -  Western  -  8.3
120 The Great Escape  -  Adventure  -  8.3
121 Jagten  -  Drama  -  8.3
122 On the Waterfront  -  Crime  -  8.3
123 The General  -  Action  -  8.3
124 Raging Bull  -  Biography  -  8.3
125 Downfall  -  Biography  -  8.3
126 Up  -  Animation  -  8.3
127 Wild Strawberries  -  Drama  -  8.3
128 The Gold Rush  -  Adventure  -  8.3
129 Ran  -  Action  -  8.3
130 Chinatown  -  Drama  -  8.3
131 My Neighbor Totoro  -  Animation  -  8.3
132 Judgment at Nuremberg  -  Drama  -  8.3
133 Barfi!  -  Adventure  -  8.3
134 The Seventh Seal  -  Drama  -  8.3
135 Heat  -  Action  -  8.3
136 Pan's Labyrinth  -  Drama  -  8.3
137 The Bridge on the River Kwai  -  Adventure  -  8.3
138 Die Hard  -  Action  -  8.3
139 Good Will Hunting  -  Drama  -  8.3
140 The Wages of Fear  -  Adventure  -  8.3
141 The Secret in Their Eyes  -  Drama  -  8.3
142 Lagaan: Once Upon a Time in India  -  Adventure  -  8.3
143 The Wolf of Wall Street  -  Biography  -  8.2
144 It Happened One Night  -  Comedy  -  8.2
145 Blade Runner  -  Sci-Fi  -  8.2
146 Warrior  -  Drama  -  8.2
147 Howl's Moving Castle  -  Animation  -  8.2
148 The Elephant Man  -  Biography  -  8.2
149 Rebecca  -  Mystery  -  8.2
150 Incendies  -  Drama  -  8.2
151 Lock, Stock and Two Smoking Barrels  -  Comedy  -  8.2
152 V for Vendetta  -  Action  -  8.2
153 The Big Lebowski  -  Comedy  -  8.2
154 Cool Hand Luke  -  Crime  -  8.2
155 Relatos salvajes  -  Comedy  -  8.2
156 Casino  -  Biography  -  8.2
157 Gone with the Wind  -  Drama  -  8.2
158 Gone Girl  -  Drama  -  8.2
159 The Best Years of Our Lives  -  Drama  -  8.2
160 How to Train Your Dragon  -  Animation  -  8.2
161 Diabolique  -  Horror  -  8.2
162 Gran Torino  -  Drama  -  8.2
163 Rush  -  Action  -  8.2
164 Into the Wild  -  Adventure  -  8.2
165 My Sassy Girl  -  Comedy  -  8.2
166 The Deer Hunter  -  Drama  -  8.2
167 Mary and Max  -  Animation  -  8.2
168 Hachi: A Dog's Tale  -  Drama  -  8.2
169 The Maltese Falcon  -  Crime  -  8.2
170 A Beautiful Mind  -  Biography  -  8.2
171 Dial M for Murder  -  Crime  -  8.2
172 Trainspotting  -  Drama  -  8.2
173 Tae Guk Gi: The Brotherhood of War  -  Action  -  8.2
174 Persona  -  Drama  -  8.2
175 Touch of Evil  -  Crime  -  8.2
176 Fargo  -  Crime  -  8.2
177 The Avengers  -  Action  -  8.2
178 The 400 Blows  -  Crime  -  8.2
179 The Princess Bride  -  Adventure  -  8.2
180 Hotel Rwanda  -  Drama  -  8.2
181 Stalker  -  Drama  -  8.2
182 The Battle of Algiers  -  Crime  -  8.2
183 Underground  -  Comedy  -  8.2
184 Fanny and Alexander  -  Drama  -  8.2
185 Network  -  Drama  -  8.2
186 The Thing  -  Horror  -  8.2
187 Butch Cassidy and the Sundance Kid  -  Biography  -  8.2
188 The Grapes of Wrath  -  Drama  -  8.2
189 Black Cat, White Cat  -  Comedy  -  8.2
190 Life of Brian  -  Comedy  -  8.2
191 The Sixth Sense  -  Drama  -  8.2
192 Finding Nemo  -  Animation  -  8.2
193 Nausicaa of the Valley of the Wind  -  Animation  -  8.2
194 Kingsman: The Secret Service  -  Action  -  8.1
195 Platoon  -  Drama  -  8.1
196 Guardians of the Galaxy  -  Action  -  8.1
197 In the Name of the Father  -  Biography  -  8.1
198 Kill Bill: Vol. 1  -  Action  -  8.1
199 No Country for Old Men  -  Crime  -  8.1
200 Le Samourai  -  Crime  -  8.1
201 12 Years a Slave  -  Biography  -  8.1
202 La leggenda del pianista sull'oceano  -  Drama  -  8.1
203 8 1/2  -  Drama  -  8.1
204 Ben-Hur  -  Adventure  -  8.1
205 Amores Perros  -  Drama  -  8.1
206 Stand by Me  -  Adventure  -  8.1
207 What Ever Happened to Baby Jane?  -  Drama  -  8.1
208 Annie Hall  -  Comedy  -  8.1
209 The Imitation Game  -  Biography  -  8.1
210 Laura  -  Film-Noir  -  8.1
211 Departures  -  Drama  -  8.1

212 Infernal Affairs  -  Crime  -  8.1
213 There Will Be Blood  -  Drama  -  8.1
214 The Grand Budapest Hotel  -  Adventure  -  8.1
215 La Strada  -  Drama  -  8.1
216 Sin City  -  Crime  -  8.1
217 Memories of Murder  -  Crime  -  8.1
218 Donnie Darko  -  Drama  -  8.1
219 Who's Afraid of Virginia Woolf?  -  Drama  -  8.1
220 Gandhi  -  Biography  -  8.1
221 Solaris  -  Drama  -  8.1
222 Harry Potter and the Deathly Hallows: Part 2  -  Adventure  -  8.1
223 Paris, Texas  -  Drama  -  8.1
224 The Wizard of Oz  -  Adventure  -  8.1
225 3-Iron  -  Crime  -  8.1
226 Boyhood  -  Drama  -  8.1
227 Million Dollar Baby  -  Drama  -  8.1
228 The Last Picture Show  -  Drama  -  8.1
229 Strangers on a Train  -  Crime  -  8.1
230 Cat on a Hot Tin Roof  -  Drama  -  8.1
231 La Dolce Vita  -  Comedy  -  8.1
232 Chungking Express  -  Drama  -  8.1
233 The Night of the Hunter  -  Crime  -  8.1
234 La Haine  -  Crime  -  8.1
235 Yip Man  -  Action  -  8.1
236 High Noon  -  Western  -  8.1
237 Notorious  -  Drama  -  8.1
238 Before Sunrise  -  Drama  -  8.1
239 Elite Squad: The Enemy Within  -  Action  -  8.1
240 The Bourne Ultimatum  -  Action  -  8.1
241 Castle in the Sky  -  Animation  -  8.1
242 The Celebration  -  Drama  -  8.1
243 Spring, Summer, Fall, Winter... and Spring  -  Drama  -  8.1
244 Shutter Island  -  Mystery  -  8.1
245 Barry Lyndon  -  Adventure  -  8.1
246 Stalag 17  -  Comedy  -  8.1
247 Three Colors: Red  -  Drama  -  8.1
248 X-Men: Days of Future Past  -  Action  -  8.1
249 Sleuth  -  Mystery  -  8.1
250 In the Mood for Love  -  Drama  -  8.1
251 The Man Who Shot Liberty Valance  -  Drama  -  8.1
252 Arsenic and Old Lace  -  Comedy  -  8.1
253 The Big Sleep  -  Crime  -  8.1
254 Roman Holiday  -  Comedy  -  8.1
255 The Philadelphia Story  -  Comedy  -  8.1
256 Akira  -  Animation  -  8.1
257 Anatomy of a Murder  -  Crime  -  8.1
258 The Cabinet of Dr. Caligari  -  Crime  -  8.1
259 The Help  -  Drama  -  8.1
260 The Sea Inside  -  Biography  -  8.1
261 Elite Squad  -  Action  -  8.1
262 The Hustler  -  Drama  -  8.1
263 Rio Bravo  -  Western  -  8.1
264 Twelve Monkeys  -  Mystery  -  8.1
265 Harvey  -  Comedy  -  8.1
266 A Christmas Story  -  Comedy  -  8.1
267 Jaws  -  Drama  -  8.1
268 The Raid 2  -  Action  -  8.1
269 Rocky  -  Drama  -  8.1
270 Wings of Desire  -  Drama  -  8.1
271 Pirates of the Caribbean: The Curse of the Black Pearl  -  Adventure  -  8.1
272 The Killing  -  Crime  -  8.1
273 Papillon  -  Biography  -  8.1
274 The King's Speech  -  Biography  -  8.1
275 Groundhog Day  -  Comedy  -  8.1
276 A Fistful of Dollars  -  Action  -  8.1
277 Monsters, Inc.  -  Animation  -  8.1
278 Dog Day Afternoon  -  Crime  -  8.1
279 The Perks of Being a Wallflower  -  Drama  -  8.1
280 Young Frankenstein  -  Comedy  -  8.1
281 The Terminator  -  Action  -  8.1
282 Harold and Maude  -  Comedy  -  8.1
283 Before Sunset  -  Drama  -  8.1
284 A Streetcar Named Desire  -  Drama  -  8.1
285 Bringing Up Baby  -  Comedy  -  8.1
286 The Diving Bell and the Butterfly  -  Biography  -  8.1
287 His Girl Friday  -  Comedy  -  8.1
288 Sling Blade  -  Drama  -  8.1
289 All Quiet on the Western Front  -  Drama  -  8.1
290 Prisoners  -  Crime  -  8.1
291 The Return  -  Drama  -  8.1
292 The Manchurian Candidate  -  Mystery  -  8.1
293 Duck Soup  -  Comedy  -  8.1
294 Beauty and the Beast  -  Animation  -  8.1
295 The Truman Show  -  Drama  -  8.1
296 The Wild Bunch  -  Action  -  8.1
297 Rope  -  Crime  -  8.0
298 The Graduate  -  Comedy  -  8.0
299 Jurassic Park  -  Adventure  -  8.0
300 Dogville  -  Crime  -  8.0
301 Furious 7  -  Action  -  8.0
302 Patton  -  Biography  -  8.0
303 The Nightmare Before Christmas  -  Animation  -  8.0
304 Being There  -  Comedy  -  8.0
305 Persepolis  -  Animation  -  8.0
306 This Is Spinal Tap  -  Comedy  -  8.0
307 East of Eden  -  Drama  -  8.0
308 Pink Floyd The Wall  -  Animation  -  8.0
309 Blood Diamond  -  Adventure  -  8.0
310 Big Fish  -  Adventure  -  8.0
311 Slumdog Millionaire  -  Drama  -  8.0
312 Star Trek  -  Action  -  8.0
313 The Straight Story  -  Biography  -  8.0
314 Crimes and Misdemeanors  -  Comedy  -  8.0
315 Charade  -  Comedy  -  8.0
316 JFK  -  Drama  -  8.0
317 Dawn of the Dead  -  Horror  -  8.0
318 Magnolia  -  Drama  -  8.0
319 Manhattan  -  Comedy  -  8.0
320 Central Station  -  Drama  -  8.0
321 Brazil  -  Sci-Fi  -  8.0
322 The Exorcist  -  Horror  -  8.0
323 Her  -  Drama  -  8.0
324 Dancer in the Dark  -  Crime  -  8.0
325 Rain Man  -  Drama  -  8.0
326 Talk to Her  -  Drama  -  8.0
327 The Adventures of Robin Hood  -  Action  -  8.0
328 Aguirre, the Wrath of God  -  Adventure  -  8.0
329 In the Heat of the Night  -  Crime  -  8.0
330 Nosferatu  -  Horror  -  8.0
331 Black Swan  -  Drama  -  8.0
332 Ratatouille  -  Animation  -  8.0
333 The Searchers  -  Adventure  -  8.0
334 Short Term 12  -  Drama  -  8.0
335 Doctor Zhivago  -  Drama  -  8.0
336 Life of Pi  -  Adventure  -  8.0
337 All the President's Men  -  Drama  -  8.0
338 Battleship Potemkin  -  History  -  8.0
339 Dances with Wolves  -  Adventure  -  8.0
340 Catch Me If You Can  -  Biography  -  8.0
341 Cinderella Man  -  Biography  -  8.0
342 Dead Poets Society  -  Drama  -  8.0
343 Ghost in the Shell  -  Animation  -  8.0
344 Head-On  -  Drama  -  8.0
345 No Man's Land  -  Drama  -  8.0
346 Dallas Buyers Club  -  Biography  -  8.0
347 Days of Heaven  -  Drama  -  8.0
348 The Sound of Music  -  Biography  -  8.0
349 District 9  -  Action  -  8.0
350 Shadow of a Doubt  -  Thriller  -  8.0
351 Frankenstein  -  Horror  -  8.0
352 Shaun of the Dead  -  Comedy  -  8.0
353 Night of the Living Dead  -  Horror  -  8.0
354 Kill Bill: Vol. 2  -  Action  -  8.0
355 Secrets & Lies  -  Drama  -  8.0
356 The Artist  -  Comedy  -  8.0
357 Aladdin  -  Animation  -  8.0
358 The Lady Vanishes  -  Comedy  -  8.0
359 The Hobbit: The Desolation of Smaug  -  Adventure  -  8.0
360 Let the Right One In  -  Drama  -  8.0
361 Fiddler on the Roof  -  Drama  -  8.0
362 The Hobbit: An Unexpected Journey  -  Adventure  -  8.0
363 Three Colors: Blue  -  Drama  -  8.0
364 Rosemary's Baby  -  Drama  -  8.0
365 Mystic River  -  Crime  -  8.0
366 Serenity  -  Action  -  8.0
367 Amarcord  -  Comedy  -  8.0
368 Planet of the Apes  -  Adventure  -  8.0
369 True Romance  -  Crime  -  8.0
370 Hannah and Her Sisters  -  Comedy  -  8.0
371 Moon  -  Drama  -  8.0
372 Before Midnight  -  Drama  -  8.0
373 My Name Is Khan  -  Drama  -  8.0
374 Scent of a Woman  -  Drama  -  8.0
375 Mulholland Dr.  -  Drama  -  8.0
376 King Kong  -  Adventure  -  8.0
377 The Fault in Our Stars  -  Drama  -  8.0
378 The Incredibles  -  Animation  -  8.0
379 Edward Scissorhands  -  Drama  -  8.0
380 Casino Royale  -  Action  -  8.0
381 How to Train Your Dragon 2  -  Animation  -  8.0
382 In Bruges  -  Comedy  -  8.0
383 The Untouchables  -  Crime  -  8.0
384 Breathless  -  Crime  -  8.0
385 Spartacus  -  Action  -  8.0
386 The Iron Giant  -  Animation  -  8.0
387 Midnight Cowboy  -  Drama  -  8.0
388 The Blues Brothers  -  Action  -  8.0
389 Freaks  -  Drama  -  8.0
390 Letters from Iwo Jima  -  Drama  -  8.0
391 Edge of Tomorrow  -  Action  -  8.0
392 Glory  -  Drama  -  8.0
393 The African Queen  -  Adventure  -  8.0
394 Birdman: Or (The Unexpected Virtue of Ignorance)  -  Comedy  -  7.9
395 Big Hero 6  -  Animation  -  7.9
396 Almost Famous  -  Drama  -  7.9
397 The Notebook  -  Drama  -  7.9
398 The Conversation  -  Drama  -  7.9
399 The Breakfast Club  -  Comedy  -  7.9
400 The Pursuit of Happyness  -  Biography  -  7.9
401 The Killer  -  Action  -  7.9
402 Once  -  Drama  -  7.9
403 Ying xiong  -  Action  -  7.9
404 The Remains of the Day  -  Drama  -  7.9
405 The Bride of Frankenstein  -  Horror  -  7.9
406 The Wrestler  -  Drama  -  7.9
407 Nightcrawler  -  Crime  -  7.9
408 Gravity  -  Sci-Fi  -  7.9
409 Hard Boiled  -  Action  -  7.9
410 Bonnie and Clyde  -  Biography  -  7.9
411 The Bourne Identity  -  Action  -  7.9
412 Key Largo  -  Crime  -  7.9
413 Nine Queens  -  Crime  -  7.9
414 Toy Story 2  -  Animation  -  7.9
415 The Killing Fields  -  Drama  -  7.9
416 All About My Mother  -  Drama  -  7.9
417 Cowboy Bebop: The Movie  -  Animation  -  7.9
418 Ed Wood  -  Biography  -  7.9
419 Stagecoach  -  Adventure  -  7.9
420 The Man Who Would Be King  -  Action  -  7.9
421 The Outlaw Josey Wales  -  Western  -  7.9
422 Children of Men  -  Drama  -  7.9
423 The Insider  -  Biography  -  7.9
424 The Right Stuff  -  Adventure  -  7.9
425 Badlands  -  Crime  -  7.9
426 A Prophet  -  Crime  -  7.9
427 4 Months, 3 Weeks and 2 Days  -  Drama  -  7.9
428 Le passe  -  Drama  -  7.9
429 The Fall  -  Adventure  -  7.9
430 Breaking the Waves  -  Drama  -  7.9
431 Mr. Nobody  -  Drama  -  7.9

432 Crash  -  Drama  -  7.9
433 Avatar  -  Action  -  7.9
434 Iron Man  -  Action  -  7.9
435 Do the Right Thing  -  Comedy  -  7.9
436 Carlito's Way  -  Crime  -  7.9
437 Crouching Tiger, Hidden Dragon  -  Action  -  7.9
438 Lilya 4-Ever  -  Crime  -  7.9
439 The Chorus  -  Drama  -  7.9
440 The Boondock Saints  -  Action  -  7.9
441 Miller's Crossing  -  Crime  -  7.9
442 Walk the Line  -  Biography  -  7.9
443 Shrek  -  Animation  -  7.9
444 My Fair Lady  -  Drama  -  7.9
445 The Ten Commandments  -  Adventure  -  7.9
446 The Fighter  -  Biography  -  7.9
447 Captain Phillips  -  Biography  -  7.9
448 Cabaret  -  Drama  -  7.9
449 Halloween  -  Drama  -  7.9
450 My Left Foot  -  Biography  -  7.9
451 Miracle on 34th Street  -  Comedy  -  7.9
452 The Man from Nowhere  -  Action  -  7.9
453 Toki o kakeru shojo  -  Animation  -  7.9
454 Little Miss Sunshine  -  Adventure  -  7.9
455 Taken  -  Action  -  7.9
456 Blue Is the Warmest Color  -  Drama  -  7.9
457 Boogie Nights  -  Drama  -  7.9
458 Hot Fuzz  -  Comedy  -  7.9
459 Ferris Bueller's Day Off  -  Comedy  -  7.9
460 The World's Fastest Indian  -  Biography  -  7.9
461 Kiki's Delivery Service  -  Animation  -  7.9
462 Down by Law  -  Comedy  -  7.9
463 Glengarry Glen Ross  -  Drama  -  7.9
464 Clerks  -  Comedy  -  7.9
465 Adam's Apples  -  Comedy  -  7.9
466 The Girl with the Dragon Tattoo  -  Crime  -  7.9
467 The 39 Steps  -  Mystery  -  7.9
468 E.T. the Extra-Terrestrial  -  Family  -  7.9
469 Tombstone  -  Action  -  7.8
470 Predator  -  Action  -  7.8
471 Tangled  -  Animation  -  7.8
472 Guess Who's Coming to Dinner  -  Comedy  -  7.8
473 Ordinary People  -  Drama  -  7.8
474 The Best Offer  -  Crime  -  7.8
475 Silver Linings Playbook  -  Comedy  -  7.8
476 Hamlet  -  Drama  -  7.8
477 Amour  -  Drama  -  7.8
478 I Saw the Devil  -  Crime  -  7.8
479 The Motorcycle Diaries  -  Adventure  -  7.8
480 Office Space  -  Comedy  -  7.8
481 Evil  -  Drama  -  7.8
482 The Girl with the Dragon Tattoo  -  Crime  -  7.8
483 Withnail & I  -  Comedy  -  7.8
484 The Day the Earth Stood Still  -  Sci-Fi  -  7.8
485 Black Book  -  Drama  -  7.8
486 Evil Dead II  -  Comedy  -  7.8
487 Kaze tachinu  -  Animation  -  7.8
488 Star Trek Into Darkness  -  Action  -  7.8
489 The Triplets of Belleville  -  Animation  -  7.8
490 Open Your Eyes  -  Drama  -  7.8
491 The Magnificent Seven  -  Action  -  7.8
492 Drive  -  Crime  -  7.8
493 Mississippi Burning  -  Crime  -  7.8
494 The Lego Movie  -  Animation  -  7.8
495 The Day of the Jackal  -  Crime  -  7.8
496 Misery  -  Thriller  -  7.8
497 Willy Wonka & the Chocolate Factory  -  Family  -  7.8
498 Fantasia  -  Animation  -  7.8
499 Gattaca  -  Drama  -  7.8
500 American Gangster  -  Biography  -  7.8
501 Porco Rosso  -  Animation  -  7.8
502 The French Connection  -  Action  -  7.8
503 The Boy in the Striped Pajamas  -  Drama  -  7.8
504 Empire of the Sun  -  Drama  -  7.8
505 About Time  -  Drama  -  7.8
506 Blue Velvet  -  Crime  -  7.8
507 In America  -  Drama  -  7.8
508 The Curious Case of Benjamin Button  -  Drama  -  7.8
509 The Last of the Mohicans  -  Action  -  7.8
510 Moonrise Kingdom  -  Adventure  -  7.8
511 Rebel Without a Cause  -  Drama  -  7.8
512 Fantastic Mr. Fox  -  Animation  -  7.8
513 Invasion of the Body Snatchers  -  Horror  -  7.8
514 October Sky  -  Biography  -  7.8
515 Dirty Harry  -  Action  -  7.8
516 Ghostbusters  -  Comedy  -  7.8
517 Captain America: The Winter Soldier  -  Action  -  7.8
518 Wreck-It Ralph  -  Animation  -  7.8
519 The Hangover  -  Comedy  -  7.8
520 Back to the Future Part II  -  Adventure  -  7.8
521 Belle de Jour  -  Drama  -  7.8
522 O Brother, Where Art Thou?  -  Adventure  -  7.8
523 Repulsion  -  Drama  -  7.8
524 Airplane!  -  Comedy  -  7.8
525 Pride & Prejudice  -  Drama  -  7.8
526 Zulu  -  Drama  -  7.8
527 Night on Earth  -  Comedy  -  7.8
528 From Here to Eternity  -  Drama  -  7.8
529 Apocalypto  -  Action  -  7.8
530 Atonement  -  Drama  -  7.8
531 The Dirty Dozen  -  Action  -  7.8
532 X-Men: First Class  -  Action  -  7.8
533 Run Lola Run  -  Action  -  7.8
534 The Longest Day  -  Action  -  7.8
535 Zelig  -  Comedy  -  7.8
536 The Last Emperor  -  Biography  -  7.8
537 The Goonies  -  Adventure  -  7.8
538 The White Ribbon  -  Drama  -  7.8
539 The Fugitive  -  Action  -  7.8
540 The Color Purple  -  Drama  -  7.8
541 South Park: Bigger Longer & Uncut  -  Animation  -  7.8
542 (500) Days of Summer  -  Comedy  -  7.8
543 Lost in Translation  -  Drama  -  7.8
544 Argo  -  Drama  -  7.8
545 Blazing Saddles  -  Comedy  -  7.8
546 Breakfast at Tiffany's  -  Comedy  -  7.8
547 Finding Neverland  -  Biography  -  7.8
548 The Experiment  -  Drama  -  7.8
549 Lucky Number Slevin  -  Crime  -  7.8
550 The Theory of Everything  -  Biography  -  7.8
551 Harry Potter and the Prisoner of Azkaban  -  Adventure  -  7.8
552 Kung Fu Hustle  -  Action  -  7.8
553 Being John Malkovich  -  Comedy  -  7.8
554 The Social Network  -  Biography  -  7.8
555 3:10 to Yuma  -  Adventure  -  7.8
556 The Name of the Rose  -  Crime  -  7.8
557 Mary Poppins  -  Comedy  -  7.8
558 The Game  -  Drama  -  7.8
559 Changeling  -  Drama  -  7.8
560 Donnie Brasco  -  Biography  -  7.8
561 Serpico  -  Biography  -  7.8
562 What's Eating Gilbert Grape  -  Drama  -  7.8
563 Goldfinger  -  Action  -  7.8
564 Nebraska  -  Adventure  -  7.8
565 The Sandlot  -  Comedy  -  7.8
566 Boyz n the Hood  -  Crime  -  7.8
567 The Bourne Supremacy  -  Action  -  7.8
568 Skyfall  -  Action  -  7.8
569 Ray  -  Biography  -  7.8
570 300  -  Action  -  7.8
571 A Bronx Tale  -  Crime  -  7.8
572 The Birds  -  Horror  -  7.8
573 Battle Royale  -  Action  -  7.8
574 Control  -  Biography  -  7.8
575 Kramer vs. Kramer  -  Drama  -  7.8
576 Deliverance  -  Adventure  -  7.8
577 Ocean's Eleven  -  Crime  -  7.8
578 As Good as It Gets  -  Comedy  -  7.8
579 Awakenings  -  Biography  -  7.8
580 The King of Comedy  -  Comedy  -  7.8
581 Man on Fire  -  Action  -  7.8
582 Sabrina  -  Comedy  -  7.8
583 Dark City  -  Mystery  -  7.8
584 Good Bye Lenin!  -  Comedy  -  7.8
585 Remember the Titans  -  Biography  -  7.7
586 Star Trek II: The Wrath of Khan  -  Action  -  7.7
587 Road to Perdition  -  Crime  -  7.7
588 Rushmore  -  Comedy  -  7.7
589 The Machinist  -  Drama  -  7.7
590 Flipped  -  Comedy  -  7.7
591 The Count of Monte Cristo  -  Action  -  7.7
592 Detachment  -  Drama  -  7.7
593 Love Me If You Dare  -  Comedy  -  7.7
594 Dead Man  -  Drama  -  7.7
595 The Purple Rose of Cairo  -  Comedy  -  7.7
596 21 Grams  -  Crime  -  7.7
597 50/50  -  Comedy  -  7.7
598 Kick-Ass  -  Action  -  7.7
599 Delicatessen  -  Comedy  -  7.7
600 Barton Fink  -  Drama  -  7.7
601 The Last King of Scotland  -  Biography  -  7.7
602 Adaptation.  -  Comedy  -  7.7
603 A Very Long Engagement  -  Drama  -  7.7
604 Mysterious Skin  -  Drama  -  7.7
605 Stardust  -  Adventure  -  7.7
606 Black Hawk Down  -  Drama  -  7.7
607 Paprika  -  Animation  -  7.7
608 Fear and Loathing in Las Vegas  -  Comedy  -  7.7
609 Frost/Nixon  -  Drama  -  7.7
610 Enter the Dragon  -  Action  -  7.7
611 Short Cuts  -  Comedy  -  7.7
612 A Hard Day's Night  -  Comedy  -  7.7
613 The Last Samurai  -  Action  -  7.7
614 The Station Agent  -  Comedy  -  7.7
615 Zombieland  -  Comedy  -  7.7
616 Sympathy for Mr. Vengeance  -  Crime  -  7.7
617 Despicable Me  -  Animation  -  7.7
618 Shane  -  Drama  -  7.7
619 Forbidden Planet  -  Action  -  7.7
620 Titanic  -  Drama  -  7.7
621 Gone Baby Gone  -  Crime  -  7.7
622 The Dinner Game  -  Comedy  -  7.7
623 Dawn of the Planet of the Apes  -  Action  -  7.7
624 25th Hour  -  Crime  -  7.7
625 Ponyo  -  Animation  -  7.7
626 Shine  -  Biography  -  7.7
627 The Blind Side  -  Biography  -  7.7
628 Brokeback Mountain  -  Drama  -  7.7
629 Cast Away  -  Adventure  -  7.7
630 Malcolm X  -  Biography  -  7.7
631 Show Me Love  -  Comedy  -  7.7
632 Boy A  -  Drama  -  7.7
633 The Warriors  -  Action  -  7.7
634 Close Encounters of the Third Kind  -  Drama  -  7.7
635 Match Point  -  Drama  -  7.7
636 Training Day  -  Crime  -  7.7
637 The Butterfly Effect  -  Sci-Fi  -  7.7
638 The City of Lost Children  -  Fantasy  -  7.7
639 Billy Elliot  -  Comedy  -  7.7
640 Love Actually  -  Comedy  -  7.7
641 The Producers  -  Comedy  -  7.7
642 Harry Potter and the Deathly Hallows: Part 1  -  Adventure  -  7.7
643 The Visitor  -  Drama  -  7.7
644 Philadelphia  -  Drama  -  7.7
645 Sense and Sensibility  -  Drama  -  7.7
646 Three Colors: White  -  Comedy  -  7.7
647 La grande bellezza  -  Drama  -  7.7
648 Primal Fear  -  Crime  -  7.7
649 Where Eagles Dare  -  Action  -  7.7
650 Dazed and Confused  -  Comedy  -  7.7
651 Blood Simple.  -  Crime  -  7.7
652 This Is England  -  Crime  -  7.7
653 Fearless  -  Action  -  7.7
654 Dangerous Liaisons  -  Drama  -  7.7
655 Saw  -  Horror  -  7.7
656 Snow White and the Seven Dwarfs  -  Animation  -  7.7
657 Coraline  -  Animation  -  7.7
658 The Hunger Games: Catching Fire  -  Adventure  -  7.7
659 Sophie's Choice  -  Drama  -  7.7
660 La Vie en Rose  -  Biography  -  7.7
661 Star Wars: Episode III - Revenge of the Sith  -  Action  -  7.7
662 True Grit  -  Adventure  -  7.7
663 After Hours  -  Comedy  -  7.7
664 Frozen  -  Animation  -  7.7
665 Lolita  -  Drama  -  7.7
666 Eastern Promises  -  Crime  -  7.7
667 Midnight in Paris  -  Comedy  -  7.7
668 The Muppet Christmas Carol  -  Comedy  -  7.7
669 Who Framed Roger Rabbit  -  Animation  -  7.7

670 Sympathy for Lady Vengeance  -  Crime  -  7.7
671 Grindhouse  -  Action  -  7.7
672 In a Better World  -  Drama  -  7.7
673 Blow-Up  -  Drama  -  7.7
674 The Secret World of Arrietty  -  Animation  -  7.7
675 Kiss Kiss Bang Bang  -  Action  -  7.7
676 Lost Highway  -  Drama  -  7.7
677 Zodiac  -  Crime  -  7.7
678 Les Miserables  -  Drama  -  7.7
679 Moulin Rouge!  -  Drama  -  7.7
680 Whale Rider  -  Drama  -  7.7
681 End of Watch  -  Crime  -  7.7
682 Philomena  -  Biography  -  7.7
683 Fury  -  Action  -  7.7
684 The Big Blue  -  Action  -  7.7
685 First Blood  -  Action  -  7.7
686 Minority Report  -  Action  -  7.7
687 Spellbound  -  Film-Noir  -  7.7
688 The Wicker Man  -  Horror  -  7.7
689 Seven Pounds  -  Drama  -  7.7
690 Midnight Express  -  Biography  -  7.7
691 Kelly's Heroes  -  Action  -  7.7
692 MASH  -  Comedy  -  7.7
693 The Player  -  Comedy  -  7.7
694 Traffic  -  Crime  -  7.7
695 Y Tu Mama Tambien  -  Drama  -  7.7
696 Stranger Than Fiction  -  Comedy  -  7.7
697 Inside Man  -  Crime  -  7.7
698 127 Hours  -  Adventure  -  7.6
699 The Fifth Element  -  Action  -  7.6
700 Milk  -  Biography  -  7.6
701 United 93  -  Action  -  7.6
702 Jin ling shi san chai  -  Drama  -  7.6
703 Dracula  -  Horror  -  7.6
704 High Plains Drifter  -  Western  -  7.6
705 I Am Sam  -  Drama  -  7.6
706 Fried Green Tomatoes  -  Drama  -  7.6
707 Watchmen  -  Action  -  7.6
708 28 Days Later...  -  Horror  -  7.6
709 The Illusionist  -  Drama  -  7.6
710 Superbad  -  Comedy  -  7.6
711 The Godfather: Part III  -  Crime  -  7.6
712 The Royal Tenenbaums  -  Comedy  -  7.6
713 The Jungle Book  -  Animation  -  7.6
714 Thank You for Smoking  -  Comedy  -  7.6
715 Man Bites Dog  -  Comedy  -  7.6
716 A Few Good Men  -  Drama  -  7.6
717 The Legend of Drunken Master  -  Action  -  7.6
718 The Kite Runner  -  Drama  -  7.6
719 When Harry Met Sally...  -  Comedy  -  7.6
720 Munich  -  Drama  -  7.6
721 House of Sand and Fog  -  Drama  -  7.6
722 Lethal Weapon  -  Action  -  7.6
723 Animal House  -  Comedy  -  7.6
724 Lord of War  -  Crime  -  7.6
725 Blow  -  Biography  -  7.6
726 Sherlock Holmes  -  Action  -  7.6
727 Harry Potter and the Goblet of Fire  -  Adventure  -  7.6
728 La piel que habito  -  Thriller  -  7.6
729 The Crow  -  Action  -  7.6
730 West Side Story  -  Crime  -  7.6
731 The Thin Red Line  -  Drama  -  7.6
732 American Psycho  -  Crime  -  7.6
733 The Blind Swordsman: Zatoichi  -  Action  -  7.6
734 The Last Temptation of Christ  -  Drama  -  7.6
735 The Naked Gun: From the Files of Police Squad!  -  Comedy  -  7.6
736 The Others  -  Horror  -  7.6
737 The Party  -  Comedy  -  7.6
738 Army of Darkness  -  Comedy  -  7.6
739 The Hurt Locker  -  Drama  -  7.6
740 The Raid: Redemption  -  Action  -  7.6
741 Volver  -  Comedy  -  7.6
742 Following  -  Mystery  -  7.6
743 Kung Fu Panda  -  Animation  -  7.6
744 Mad Max 2: The Road Warrior  -  Action  -  7.6
745 Jusan-nin no shikaku  -  Action  -  7.6
746 The Man Who Wasn't There  -  Crime  -  7.6
747 The Counterfeiters  -  Crime  -  7.6
748 The Hunt for Red October  -  Action  -  7.6
749 Lone Survivor  -  Action  -  7.6
750 A Fish Called Wanda  -  Comedy  -  7.6
751 The Impossible  -  Drama  -  7.6
752 Garden State  -  Comedy  -  7.6
753 Escape from Alcatraz  -  Action  -  7.6
754 Apollo 13  -  Adventure  -  7.6
755 Lust, Caution  -  Drama  -  7.6
756 Selma  -  Biography  -  7.6
757 Funny Games  -  Crime  -  7.6
758 The Abyss  -  Adventure  -  7.6
759 Robin Hood  -  Animation  -  7.6
760 Enemy at the Gates  -  Drama  -  7.6
761 Falling Down  -  Crime  -  7.6
762 Little Children  -  Drama  -  7.6
763 Hunger  -  Biography  -  7.6
764 Indiana Jones and the Temple of Doom  -  Action  -  7.6
765 Ip Man 2  -  Action  -  7.6
766 The Little Mermaid  -  Animation  -  7.6
767 It's a Mad, Mad, Mad, Mad World  -  Action  -  7.6
768 The Reader  -  Drama  -  7.6
769 The Omen  -  Horror  -  7.6
770 A Royal Affair  -  Drama  -  7.6
771 Braindead  -  Comedy  -  7.6
772 Secondhand Lions  -  Comedy  -  7.6
773 Disconnect  -  Drama  -  7.6
774 A Single Man  -  Drama  -  7.6
775 Hoosiers  -  Drama  -  7.6
776 Moneyball  -  Biography  -  7.6
777 The Book Thief  -  Drama  -  7.6
778 Die Hard: With a Vengeance  -  Action  -  7.6
779 Interview with the Vampire: The Vampire Chronicles  -  Horror  -  7.6
780 Midnight Run  -  Action  -  7.6
781 An American Werewolf in London  -  Comedy  -  7.6
782 The Great Debaters  -  Biography  -  7.6
783 Tucker and Dale vs. Evil  -  Comedy  -  7.6
784 Dead Man Walking  -  Crime  -  7.6
785 The Piano  -  Drama  -  7.6
786 The Town  -  Crime  -  7.6
787 Rise of the Planet of the Apes  -  Action  -  7.6
788 Boys Don't Cry  -  Biography  -  7.6
789 Ice Age  -  Animation  -  7.6
790 Of Mice and Men  -  Drama  -  7.6
791 Sideways  -  Comedy  -  7.6
792 High Fidelity  -  Comedy  -  7.6
793 The Meaning of Life  -  Comedy  -  7.6
794 Hugo  -  Adventure  -  7.6
795 Leaving Las Vegas  -  Drama  -  7.6
796 The Evil Dead  -  Horror  -  7.6
797 Collateral  -  Crime  -  7.6
798 Planes, Trains & Automobiles  -  Comedy  -  7.6
799 Hodejegerne  -  Crime  -  7.6
800 Field of Dreams  -  Drama  -  7.6
801 Batman  -  Action  -  7.6
802 Tell No One  -  Crime  -  7.6
803 Ghost Dog: The Way of the Samurai  -  Action  -  7.6
804 Chaplin  -  Biography  -  7.6
805 Keith  -  Drama  -  7.6
806 Juno  -  Comedy  -  7.6
807 The Assassination of Jesse James by the Coward Robert Ford  -  Biography  -  7.6
808 The Fisher King  -  Comedy  -  7.6
809 House of Flying Daggers  -  Action  -  7.6
810 The Hours  -  Drama  -  7.6
811 The Damned United  -  Biography  -  7.6
812 Star Trek: First Contact  -  Action  -  7.6
813 The Natural  -  Drama  -  7.6
814 The Hobbit: The Battle of the Five Armies  -  Adventure  -  7.6
815 Equilibrium  -  Action  -  7.6
816 August Rush  -  Drama  -  7.6
817 Saving Mr. Banks  -  Biography  -  7.6
818 The Hurricane  -  Biography  -  7.6
819 Jacob's Ladder  -  Drama  -  7.6
820 The Curse of the Were-Rabbit  -  Animation  -  7.6
821 Christmas Vacation  -  Comedy  -  7.6
822 Good Night, and Good Luck.  -  Drama  -  7.5
823 Straw Dogs  -  Crime  -  7.5
824 42  -  Biography  -  7.5
825 Rudy  -  Biography  -  7.5
826 Sleepers  -  Crime  -  7.5
827 The Wind That Shakes the Barley  -  Drama  -  7.5
828 Gangs of New York  -  Crime  -  7.5
829 Elizabeth  -  Biography  -  7.5
830 Green Street Hooligans  -  Crime  -  7.5
831 Reign Over Me  -  Drama  -  7.5
832 RoboCop  -  Action  -  7.5
833 The Life of David Gale  -  Crime  -  7.5
834 Life as a House  -  Drama  -  7.5
835 Despicable Me 2  -  Animation  -  7.5
836 Jackie Brown  -  Crime  -  7.5
837 Menace II Society  -  Crime  -  7.5
838 The Class  -  Drama  -  7.5
839 Bullets Over Broadway  -  Comedy  -  7.5
840 American Splendor  -  Biography  -  7.5
841 Perfume: The Story of a Murderer  -  Crime  -  7.5
842 Cloud Atlas  -  Drama  -  7.5
843 Marathon Man  -  Crime  -  7.5
844 Pinocchio  -  Animation  -  7.5
845 The Painted Veil  -  Drama  -  7.5
846 A Simple Plan  -  Crime  -  7.5
847 The Conjuring  -  Horror  -  7.5
848 The Man Who Knew Too Much  -  Thriller  -  7.5
849 Quiz Show  -  Drama  -  7.5
850 American Graffiti  -  Comedy  -  7.5
851 The Bridges of Madison County  -  Drama  -  7.5
852 Gallipoli  -  Adventure  -  7.5
853 L'illusionniste  -  Animation  -  7.5
854 Miracle  -  Drama  -  7.5
855 Maria Full of Grace  -  Crime  -  7.5
856 Scott Pilgrim vs. the World  -  Action  -  7.5
857 Pleasantville  -  Comedy  -  7.5
858 Sherlock Holmes: A Game of Shadows  -  Action  -  7.5
859 Doubt  -  Drama  -  7.5
860 The Fly  -  Horror  -  7.5
861 The Orphanage  -  Drama  -  7.5
862 Malena  -  Drama  -  7.5
863 Three Days of the Condor  -  Mystery  -  7.5
864 [Rec]  -  Horror  -  7.5
865 A Perfect World  -  Crime  -  7.5
866 To Catch a Thief  -  Mystery  -  7.5
867 Best in Show  -  Comedy  -  7.5
868 Everything Is Illuminated  -  Comedy  -  7.5
869 A Nightmare on Elm Street  -  Horror  -  7.5
870 The Ice Storm  -  Drama  -  7.5
871 X2  -  Action  -  7.5
872 We Need to Talk About Kevin  -  Drama  -  7.5
873 Felon  -  Crime  -  7.5
874 Still Alice  -  Drama  -  7.5
875 Rust and Bone  -  Drama  -  7.5
876 Freedom Writers  -  Biography  -  7.5
877 Legends of the Fall  -  Drama  -  7.5
878 Buffalo '66  -  Comedy  -  7.5
879 The Constant Gardener  -  Drama  -  7.5
880 My Cousin Vinny  -  Comedy  -  7.5
881 The Texas Chain Saw Massacre  -  Horror  -  7.5
882 Mulan  -  Animation  -  7.5
883 A History of Violence  -  Crime  -  7.5
884 Open Range  -  Action  -  7.5
885 Total Recall  -  Action  -  7.5
886 Pi  -  Drama  -  7.5
887 The Devil's Backbone  -  Drama  -  7.5
888 The Aviator  -  Biography  -  7.5
889 Devil's Advocate  -  Drama  -  7.5
890 The Adventures of Priscilla, Queen of the Desert  -  Comedy  -  7.5
891 Harry Potter and the Half-Blood Prince  -  Adventure  -  7.5
892 Fruitvale Station  -  Biography  -  7.5
893 In the Bedroom  -  Crime  -  7.5
894 Source Code  -  Mystery  -  7.5
895 Biutiful  -  Drama  -  7.5
896 From Russia with Love  -  Action  -  7.5

897 Calvary  -  Drama  -  7.5
898 The Mission  -  Adventure  -  7.5
899 In the Loop  -  Comedy  -  7.5
900 The Three Burials of Melquiades Estrada  -  Adventure  -  7.5
901 Babel  -  Drama  -  7.5
902 Frenzy  -  Thriller  -  7.5
903 Heavenly Creatures  -  Biography  -  7.5
904 Sweeney Todd: The Demon Barber of Fleet Street  -  Drama  -  7.5
905 Dracula  -  Horror  -  7.5
906 Looper  -  Action  -  7.5
907 The Proposition  -  Crime  -  7.5
908 Bullitt  -  Action  -  7.5
909 Harry Potter and the Sorcerer's Stone  -  Adventure  -  7.5
910 2046  -  Drama  -  7.5
911 Transamerica  -  Adventure  -  7.5
912 Smoke  -  Comedy  -  7.5
913 Suspiria  -  Horror  -  7.5
914 The Judge  -  Drama  -  7.5
915 Bad Education  -  Crime  -  7.5
916 Up in the Air  -  Drama  -  7.5
917 Begin Again  -  Drama  -  7.5
918 Running Scared  -  Action  -  7.5
919 Ghost World  -  Comedy  -  7.5
920 Witness  -  Crime  -  7.5
921 Trading Places  -  Comedy  -  7.5
922 Mud  -  Drama  -  7.5
923 Across the Universe  -  Drama  -  7.5
924 Les Miserables  -  Crime  -  7.5
925 Notes on a Scandal  -  Drama  -  7.5
926 Inside Llewyn Davis  -  Drama  -  7.5
927 Brick  -  Crime  -  7.5
928 Clerks II  -  Comedy  -  7.5
929 Say Anything...  -  Comedy  -  7.5
930 Man on the Moon  -  Biography  -  7.4
931 Mean Streets  -  Crime  -  7.4
932 Harry Potter and the Order of the Phoenix  -  Adventure  -  7.4
933 Beetlejuice  -  Comedy  -  7.4
934 Crazy, Stupid, Love.  -  Comedy  -  7.4
935 Excalibur  -  Adventure  -  7.4
936 True Grit  -  Adventure  -  7.4
937 Labyrinth  -  Adventure  -  7.4
938 Alice in Wonderland  -  Animation  -  7.4
939 Predestination  -  Drama  -  7.4
940 Much Ado About Nothing  -  Comedy  -  7.4
941 A Bridge Too Far  -  Drama  -  7.4
942 Raising Arizona  -  Comedy  -  7.4
943 The Bucket List  -  Adventure  -  7.4
944 Terms of Endearment  -  Comedy  -  7.4
945 Take Shelter  -  Drama  -  7.4
946 Far from Heaven  -  Drama  -  7.4
947 Eraserhead  -  Drama  -  7.4
948 Frances Ha  -  Comedy  -  7.4
949 Home Alone  -  Comedy  -  7.4
950 Bound  -  Crime  -  7.4
951 Sleepy Hollow  -  Drama  -  7.4
952 Pirate Radio  -  Comedy  -  7.4
953 The NeverEnding Story  -  Adventure  -  7.4
954 X-Men  -  Action  -  7.4
955 Zero Dark Thirty  -  Drama  -  7.4
956 Manhattan Murder Mystery  -  Comedy  -  7.4
957 National Lampoon's Vacation  -  Comedy  -  7.4
958 My Sister's Keeper  -  Drama  -  7.4
959 Deconstructing Harry  -  Comedy  -  7.4
960 The Way Way Back  -  Comedy  -  7.4
961 Capote  -  Biography  -  7.4
962 Driving Miss Daisy  -  Comedy  -  7.4
963 La Femme Nikita  -  Action  -  7.4
964 Lincoln  -  Biography  -  7.4
965 Limitless  -  Mystery  -  7.4
966 The Simpsons Movie  -  Animation  -  7.4
967 The Rock  -  Action  -  7.4
968 The English Patient  -  Drama  -  7.4
969 Law Abiding Citizen  -  Crime  -  7.4
970 Wonder Boys  -  Drama  -  7.4
971 Death at a Funeral  -  Comedy  -  7.4
972 Blue Valentine  -  Drama  -  7.4
973 The Cider House Rules  -  Drama  -  7.4
974 Tootsie  -  Comedy  -  7.4
975 Back to the Future Part III  -  Adventure  -  7.4
976 Master and Commander: The Far Side of the World  -  Action  -  7.4
977 Poltergeist  -  Horror  -  7.4
978 Wall Street  -  Crime  -  7.4

In [64]:
filmes.head()

,start_rating,title,content_rating,genre,duration,actor_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [65]:
filmes.describe()

       start_rating    duration
count    979.000000  979.000000
mean       7.889785  120.979571
std        0.336069   26.218010
min        7.400000   64.000000
25%        7.600000  102.000000
50%        7.800000  117.000000
75%        8.100000  134.000000
max        9.300000  242.000000

In [66]:
filmes.describe(include='all')

,start_rating,title,content_rating,genre,duration,actor_list
count,979.000000,979,976,979,979.000000,979
unique,NaN,975,12,16,NaN,969
top,NaN,Les Miserables,R,Drama,NaN,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,NaN,2,460,278,NaN,6
mean,7.889785,NaN,NaN,NaN,120.979571,NaN
std,0.336069,NaN,NaN,NaN,26.218010,NaN
min,7.400000,NaN,NaN,NaN,64.000000,NaN
25%,7.600000,NaN,NaN,NaN,102.000000,NaN
50%,7.800000,NaN,NaN,NaN,117.000000,NaN
75%,8.100000,NaN,NaN,NaN,134.000000,NaN
max,9.300000,NaN,NaN,NaN,242.000000,NaN

In [67]:
filmes.head()

,start_rating,title,content_rating,genre,duration,actor_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [68]:
filmes.columns = filmes.columns.str.replace('actor_list', 'actors_list')

In [69]:
dramas_longos = filmes[(filmes.duration >= 200) & (filmes.genre == 'Drama')]

In [70]:
dramas_longos

,start_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [71]:
file = 'dataset/drinks.csv'

In [72]:
drinks = pd.read_csv(file)

In [73]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [74]:
drinks['beer_servings'] = drinks.beer_servings.astype(float)

In [75]:
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

## others types

In [76]:
vendas = pd.read_csv('dataset/Sanduiches.txt', sep='\t')

In [77]:
vendas.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [78]:
vendas.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [79]:
sale = vendas

In [80]:
sale.item_price.str.replace('$', '').astype(float).mean()

7.464335785374297

In [81]:
sale.item_name.str.contains('Chicken').head()

0    False
1    False
2    False
3    False
4     True
Name: item_name, dtype: bool

In [82]:
sale.item_name.str.contains('Chicken').head().astype(int)

0    0
1    0
2    0
3    0
4    1
Name: item_name, dtype: int64

In [83]:
sale[sale.item_name.str.contains('Chicken')].head(5)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25

In [84]:
sale.item_name.str.contains('Tomato').astype(int).sum()

111

In [85]:
sale.item_name.str.contains('Coke').astype(int).sum()

0

In [ ]:
#sale.choice_description.str.contains('Coke').astype(int).sum()

# gera um erro, pois não permite converter NaN "none a number" que é um valor nulo em inteiro
# com isso deve-se tratar os dados NaN

# primeiro vamos entender o que é NaN e coomo fazer em diversos exemplos, sepois voltamos aqui

# Trabalhando com valores nulos NaN

In [87]:
ufo = pd.read_csv('dataset/ufo.csv')

In [88]:
ufo.tail()      #  os dados de 'Colors Reported' e 'Shape Reported' estão Nulos, o que fazer?

              City Colors Reported Shape Reported State              Time
18236   Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237  Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238  Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239  Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240         Ybor             NaN           OVAL    FL  12/31/2000 23:59

In [89]:
ufo.isnull().tail()

        City  Colors Reported  Shape Reported  State   Time
18236  False             True           False  False  False
18237  False             True           False  False  False
18238  False             True            True  False  False
18239  False            False           False  False  False
18240  False             True           False  False  False

In [91]:
ufo.isnull().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [92]:
ufo[ufo.City.isnull()].head()

    City Colors Reported Shape Reported State             Time
21   NaN             NaN            NaN    LA   8/15/1943 0:00
22   NaN             NaN          LIGHT    LA   8/15/1943 0:00
204  NaN             NaN           DISK    CA  7/15/1952 12:30
241  NaN            BLUE           DISK    MT   7/4/1953 14:00
613  NaN             NaN           DISK    NV   7/1/1960 12:00

In [97]:
a = ufo.shape

In [98]:
a

(18241, 5)

In [99]:
b = ufo.dropna(how='any').shape # any se qualquer coluna for nula

In [100]:
b

(2486, 5)

In [101]:
ufo.dropna(how='all').shape # se todas as colunas forem nulas

(18241, 5)

In [103]:
ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape

(15576, 5)

In [104]:
ufo.dropna(subset=['City', 'Shape Reported'], how='all').shape

(18237, 5)

In [107]:
ufo['Shape Reported'].value_counts().head() # não conta NaN

LIGHT       2803
DISK        2122
TRIANGLE    1889
OTHER       1402
CIRCLE      1365
Name: Shape Reported, dtype: int64

In [108]:
ufo['Shape Reported'].value_counts(dropna=False).head() # dropna inclui NaN

LIGHT       2803
NaN         2644
DISK        2122
TRIANGLE    1889
OTHER       1402
Name: Shape Reported, dtype: int64

In [110]:
ufo['Shape Reported'].fillna(value='Diversos', inplace=True)

In [114]:
ufo['Shape Reported'].value_counts(dropna=False)

LIGHT        2803
Diversos     2644
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
PYRAMID         1
FLARE           1
HEXAGON         1
DOME            1
Name: Shape Reported, dtype: int64

# voltando para o sanduiche.txt aonde tem valores nulos

In [115]:
sale.item_name.str.contains('Coke').astype(int).sum()

0

In [119]:
sale.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [139]:
sale.shape

(4622, 5)

In [135]:
order = sale.dropna(subset=['choice_description'], how='any')

In [136]:
order.shape

(3376, 5)

In [137]:
order.head()

,order_id,quantity,item_name,choice_description,item_price
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75

In [140]:
coke = order['choice_description'].str.contains('Coke').sum()

In [143]:
print(f'Existem {coke} pedidos que tem Coke')

Existem 257 pedidos que tem Coke

## quantos pratos tem Guacamole ?

In [158]:
order.choice_description.str.contains('guacamole').sum()

0

In [159]:
order.choice_description.str.contains('Guacamole').sum()

1037

In [164]:
order.choice_description.str.contains('Rice').sum()

2402